// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

span {
    position: absolute;
    left: -50%;
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.center,
.center-2 {
    margin: auto;
}

.tri {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid red;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    z-index: 1;
    box-sizing: content-box;
}

.tri span {
    top:25px;
    transform: translate(-50%, -50%);
}

.tri:last-child span {
    left: -20px;
    top: 10px;
    transform: scale(-1);
}


.tri:first-child {
    left: 150px;
    top: 116px;
    transform: translate(-50%, -50%);
}

.tri:last-child {
    left: 150px;
    top: 183px;
    transform: translate(-50%, -50%) scale(-1);
}

.cer {
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
}

.cer span {
    width: 70px;
    left: 25px;
    top: 25px;
    transform: translate(-50%, -50%);
}


/* ############################################################ */

.tritra {
    position: absolute;
    box-sizing: content-box;
}

.tritra::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 3px;
    border-bottom: 27px solid blue;
    border-right: 65px solid transparent;
    border-left: 65px solid transparent;
    z-index: 1;
    box-sizing: content-box  !important;
}

.tritra::after {
    content: '';
    position: absolute;
    top: 29.2px;
    height: 0;
    width: 90px;
    border-top: 20px solid blue;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    box-sizing: content-box !important;
}

.tritra:first-child {
    top: 126px;
    left: 34px;
    transform: rotate(-45deg);
}

.tritra:nth-child(2) {
    top: 34px;
    left: 173px;
    transform: rotate(45deg);
}

.tritra:nth-child(4) {
    top: 265px;
    left: 126px;
    transform: rotate(-135deg);
}

.tritra:last-child {
    top: 174px;
    left: 266px;
    transform: rotate(135deg);
}

.tritra span {
    width: 85px;
    transform: translate(22px, 25px);
    z-index: 3;
}

.tritra:nth-child(n+3) span {
    transform: scale(-1) translate(-22px, -25px);
}

/* ################################################# */

.tra {
    position: absolute;
    height: 0;
    width: 69px;
    border-bottom: 34px solid yellow;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    box-sizing: content-box;
}

.tra span {
    transform: translate(30px, 10px);
}

.tra:nth-child(-n+5) span {
    transform: scale(-1) translate(-30px, -10px);
}

.tra:first-child {
    top: 91px;
    left: -3px;
    transform: rotate(112deg);
}

.tra:nth-child(2) {
    top: 30px;
    left: 58px;
    transform: rotate(157deg);
}

.tra:nth-child(3) {
    top: 29px;
    left: 142px;
    transform: rotate(202deg);
}

.tra:nth-child(4) {
    top: 90px;
    left: 203px;
    transform: rotate(247deg);
}

.tra:nth-child(6) {
    top: 176px;
    left: -3px;
    transform: rotate(427deg);
}

.tra:nth-child(7) {
    top: 236px;
    left: 59px;
    transform: rotate(381deg);
}

.tra:nth-child(8) {
    top: 236px;
    left: 144px;
    transform: rotate(337deg);
}

.tra:last-child {
    top: 175px;
    left: 204px;
    transform: rotate(-68deg);
}

// // chat css
.chat-widget{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fcfcfc;
    border-color: #ddd;
    border-color: rgba(221,221,221,0.85);
}

/*Chat widget*/
.chat-widget .message {
    display:block;
	margin-bottom:20px;

}

.chat-widget .message .avatar {
	width:auto;
	float:left;
}

.chat-widget .message.message-right .avatar {
	width:auto;
	float:right;
}

.chat-widget .message .message-text-wrapper {
	display:table-cell;
	width:1%;
}

.chat-widget .message .message-text {
	padding:0.5px;
	border-radius:4px;
	border:1px solid #ddd;
	border:1px solid rgba(221,221,221,0.68);
	position:relative;
    width:auto;
	float:left;
    background:#888888;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.chat-widget .message.message-right .message-text {
	background:#17f160;
    width:auto;
    float:right;
    padding:0.5px;
}

.chat-widget .message .message-text img {
	width:200px;
	height:150px;
}
.chat-widget .message .time-stamp{
    text-align:left;
}
.chat-widget .message.message-right .time-stamp{
    text-align:right;
}
.time-stamp {
    font: 11px bold ;
}

.chat-widget .message .message-text:before,.chat-widget .message .message-text:after {
	right:100%;
	top:30px;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}

.chat-widget .message .message-text:before {
	border-color:rgba(0,0,0,0);
	border-right-color:#ddd;
	border-width:10px;
	margin-top:-19px;
}

.chat-widget .message .message-text:after {
	border-color:rgba(213,71,28,0);
	border-right-color:#fff;
	border-width:9px;
	margin-top:-18px;
}

.chat-widget .message.message-right .message-text:before,.chat-widget .message.message-right .message-text:after {
	left:100%;
	top:30px;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}

.chat-widget .message.message-right .message-text:before {
	border-color:rgba(0,0,0,0);
	border-left-color:#ddd;
	border-width:10px;
	margin-top:-19px;
}

.chat-widget .message.message-right .message-text:after {
	border-left-color:#fbfbfb;
	border-width:9px;
	margin-top:-18px;
}

@media (max-width:767px) {
	label.margin {
		margin-top:25px;
		margin-bottom:15px;
	}
}
